[defaults]
vault_password_file = ./.vault_pass

[privilege_escalation]
become_ask_pass = True

[ssh_connection]
ssh_args = -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey,keyboard-interactive -o ControlMaster=auto -o ControlPersist=60s
