[Unit]
Description=Locks screen before standby
Before=sleep.target

[Service]
User=derek
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -locknow

[Install]
WantedBy=sleep.target
