ui = true

api_addr = "https://{{ ansible_default_ipv4.address }}:8200"
cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"

listener "tcp" {
  address       = "[::]:8200"
  tls_cert_file = "{{ vault.config.tcp_cert }}"
  tls_key_file  = "{{ vault.config.tcp_key }}"
  tls_min_version = "tls13"
  tls_prefer_server_cipher_suites = "true"
}

storage "file" {
  path = "{{ vault_data_dir.path }}"
}
