#jinja2:lstrip_blocks: True
# default without any devices listed
#DEVICESCAN -a

{% for disk, config in ansible_devices|dictsort %}
  {% if 'sd' in disk %}
    {%- if config.removable == "0" -%}
      /dev/{{ disk }} -a -d sat -o on -S on -s (S/../.././02|L/../../6/03) -m root -M exec /usr/share/smartmontools/smartd-runner
    {% endif %}
  {% endif %}
{% endfor %}
